* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

html{
    color:magenta;
    height: 100%;
    background: linear-gradient(to bottom,aqua,rgb(92, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    color:magenta;
}

.flexbox360 div{
    text-shadow: midnightblue 1px 2px 1px;
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    border: ridge 4px;
    border-color: rgb(62, 235, 46);
    margin-right:24px;
    background: linear-gradient(to bottom,rgb(167, 113, 33),rgb(58, 5, 34));
}

.itemStyles div{
    border: groove 4px;
    border-color: green;
    border-style: ridge;
    background: linear-gradient(to bottom right,aqua,purple);
}

.groupRight{
    margin-left: auto;
}